<style>

    .page{
        
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: #23242a;
        
    }
    .body{
        position: relative;
        width: 100%;
        height: 100vh;
        background: #1c1c1c;
        border-radius: 8px;
        overflow: hidden;


    }
    .body::before
    {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 97%;
        height: 100vh;
        background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
        transform-origin:bottom right;
        animation: animate 6s linear infinite;

    }
    .body::after
    {
        content:'';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 97%;
        min-height: 97%;
        background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
        transform-origin:  bottom right;
        animation: animate 4s linear infinite ;
        animation-delay: -2s;

    }
@keyframes animate
{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

.resume{
   position: absolute;
    inset: 4px;
    background: #28292d;
    z-index: 10;
    border-radius: 18px;
}
.mycards{
        min-height: 99%;
        opacity: 0.7;
        background: linear-gradient(15deg, transparent,#adf22b ,#26242b);
}
.mycards .cardwrap{
    position: relative;
    flex: auto;
    display: flex;
    min-height: 100vh;
    min-inline-size: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: auto;
    
}

 .mycards .cardwrap .card{
    display: inline;
   overflow:hidden;
    flex: auto;
    justify-self: center;
    align-self: center;
    position: relative;
    
    padding-left: 15px;
    margin: -10;
    size-adjust:unset;
}
img{
    rotate: -0.8deg;
    border-radius: 10px;
    
}
.card1{
    
    box-shadow: inset -300px 300px 10px 10px #d3d;
    border-radius: 14px;
    opacity: 0.95;
    margin: 5;
    width: 170px;
    height: 32vh;
    background: #1c1c1c;
    border-radius: 8px;
    position:static;
    background: linear-gradient(120deg, transparent,transparent ,transparent);
    
}
.card2{  
    position: relative;
        margin: 10; 
        overflow: hidden;
        width: 270px;
        min-height: 60vh;
        background: #1c1c1c;
        border-radius: 8px;       
        background: linear-gradient(15deg, transparent,#adf22b ,#26242b);

    }

.card3{
    position: relative;
        margin: 10; 
        overflow: hidden;
        width: 270px;
        min-height: 60vh;
        background: #1c1c1c;
        border-radius: 8px;       
        background: linear-gradient(15deg, transparent,#adf22b ,#26242b);

}


.resume h2{
    color: white;
    text-align: center;
    text-decoration: linear-gradient(15deg, transparent,#adf22b ,#26242b);
    
}

</style>

<div class="page">
<div class="body">
<div class="resume">
    <h2>  MANKGA TEBOGO JONAS LEKGAU
    </h2> 
<div class="mycards">
    
    <div class="cardwrap">
    <div class="card">
    <div class="card1">
        <img src="../assets/profile.jpg" alt="profile-pic" height="100%" width="100%" />
    </div></div>
    <div class="card">
    <div class="card2">
<div class="card2_content">
    <h2>CERTIFICATIONS</h2>
<ul>
    <li>Applied Machine Learning in Python</li>
    <li>Introduction to Packet Tracer</li>
    <li>Introductionto IoT</li>
    <li>Huawei Basic AI Technology Training</li>
    <li>Huawei 5G Fundamwental Training</li>
    <li>NDG Linux Essensials</li>
    <li>PCAP  Programming Essentials in Python</li>
    <li>Introduction to Cyber Security</li>
    <li>Building Training Websites with Google Sites</li>

</ul>
</div>
</div>
</div>
    <div class="card">
    <div class="card3">

        <h2>PROGRAMMING LANGUAGES</h2>
        <ul>
            <li>Applied Machine Learning in Python</li>
            <li>Introduction to Packet Tracer</li>
            <li>Introductionto IoT</li>
            <li>Huawei Basic AI Technology Training</li>
            <li>Huawei 5G Fundamwental Training</li>
            <li>NDG Linux Essensials</li>
            <li>PCAP  Programming Essentials in Python</li>
            <li>Introduction to Cyber Security</li>
            <li>Building Training Websites with Google Sites</li>
        
        </ul>   

    </div>
</div>
</div>
    </div>
</div>
</div>

    

    <!---
    <h2>  MANKGA TEBOGO JONAS
    </h2>  
    <p>
        249 Smit Street<br>
        JHC Flats<br>
        Johannesburg<br>
        2001
        <img src="../assets/west.jpg" 
        alt="my_pictuce" srcset="" 
        width="110px" height="120px" />
    <br><br><br><br><br><br>

</p>
<div class="details">
    <ul>
        <li>9910235433084</li>
        <li>0763999262</li>
        <li>jonaslekgau@gmail.com</li>
    </ul>
<ul >
    <li><a href="mailto:jonaslekgau@gmail.com" type="email"></a>www.linkedin.com/in/joas-lekgau-W1327</li>
    <li><a href="https://codewithwest.github.io" type="email"></a>codewithwest.github.io</li>
</ul>
</div>

<div class="bio">
    <p>
        <br>
        <br>
        <br>
        <br>
    </p>
</div>


<div class="education">
    <h3>EDUCATION EXPERIENCE</h3>
    <ul>
        <h4>MATRIC 2017</h4>
        <ul>
        <li>Millennium Combiled School</li>
        <li>Sepedi, English, Life Scriences, Physical Sciences, Geography, Mathematics</li>
    +











</div>
<h4>SKILLS</h4>
<ul>
    <li>Git and GitHub</li>
    <li>C</li>
    <li>Flutter with Dart</li>
    <li>Python(Django, Flask)</li>
    <li>HTML, CSS, JavaScript</li>
    <li>Java</li>
    <li>Reack and React-Native</li>
    <li>C++</li>
    <li>Computer Technician</li>
</ul>
<div class="activities">
<h4>ACTIVITIES</h4>
<ul>
    <li>GitHub Contributions</li>
    <li>Side projects available on the Github link: <a href="https://github.com/codewithwest">My_Repositories</a></li>
    <li>Website under Development: <a href="https://codewithwest.github.io">West Dynamics</a></li>
    <li>Track Athle and Junior Coach</li>
    <li>Computer Technicia (Software and Hardware)</li>
</ul>
</div>
<br>
      </p>
    -->