
<style>

.cover{
	display: flex;
	padding: 10px 0;
	text-align: center;
	width: 100%;
	height: 100%;
	color: inherit;
	position: relative;
	text-overflow: ellipsis;
}
.intro{
	padding: 4px;
}
.box{
	
	height: 100%;
	
}
.box .box-child{
	border: 2px solid red;
	display: flex;
	position: relative;
	height: 100%;
	width: 100%;
	text-align: center;
}
.box .box-child #box-children{

	position: relative;
	display: inline;
	width: 50%;
	margin: auto auto;
	
}
img{
	height: 100%;
	width: 100%;
}

</style>


<div class="cover">
	<div class="box">
		<div class="box-child">
			<div class="image" id="box-children">
				<img src="../assets/background.png" alt="founder-image" >
			</div>
			<div class="text" id="box-children">
				hello
			</div>

			
</div>
			<div class="box-child">
				<div class="image" id="box-children">
					<img src="../assets/background.png" alt="founder-image" >
				</div>
				<div class="text" id="box-children">
					hello
				</div>
			

		
	</div>
	<div class="box-child">
		<div class="image" id="box-children">
			<img src="../assets/background.png" alt="founder-image" >
		</div>
		<div class="text" id="box-children">
			hello
		</div>
	


</div>




</div>