
<style>

.cover{
	opacity: 0.7;
	
	overflow-y: auto;
	padding: 10px;
	width: 100%;
	min-height: 100vh;
	border-radius: 5px;
	background: linear-gradient(25deg, transparent,transparent, #000);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	background-image: linear-gradient(rgba(0,0,0,0.3), transparent),url(../assets/background.png);
	background-size: cover;
	background-position: center;
	color: aliceblue;
	position: relative;
	
	
}
.cover h1 {
	text-align: center;
}
.cover .intro{
	text-align: center;
	text-rendering: geometricPrecision;
}
	.intro{
		align-self: center;
			display: flex;
			position: relative;
			margin-left: 10;
			text-align: center;
			text-justify: distribute;

	}

	.face{
		
		background-image: linear-gradient(rgba(0,0,0,0.3), transparent),url(../assets/profile.jpg);
		border-radius: 30px;
		display: inline-block;
		background-size: cover;
		width: 140px;
		min-height: 200px;
	}
	.founder{
		display: inline;
		position: relative;	
		float: right;
		
		text-align: center;
		
		
		
	}
	

</style>


<div class="cover">
<h1>Welcome To West Dynamics</h1>


<p class="intro">
	<p>
	This is a company for the by people an NGO looking to reach all personel in need all around the world,
	 to bring about hope through advancement in medicine and advancement in technology, the cutting edge research 
	 to be done in the faclity is one that will change the world for the better and fighting through the world issues 
	 combating them for a better tomorrow.<br>
	 </p>
<p>
	we live in a complicated world of over 9 Billion people,
	where we have only a few people willing to make a difference,
	while that can be so, we at WEST DYNAMICS believe in the people
	to bring change and help save lives.

</p>


</p>
<div class="founder">
<div class="face">
</div>
<h4>Jon West CEO</h4>
</div>
</div>