*{
  margin: 0;
  padding: 0;
 
}
:root {
  --green: #FFFFFF;
  --white: #ffffff;
  --black: #28292d;
  --normal-font-size: 150%;

}
  body {
    font-size: var(--normal-font-size);
    background: var(--bg);
    color: var(--fontColor);
    width: 100%;
   
  }


.top-banner{
  height: 100%;
 
}
.banner{
  
 background: url('../assets/top-banner.png');   

 
 text-align: center;
 font-weight: 900;
 color: #fff;
 font-size: 340%;
}
 .nav-bars ul {
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-weight: 30px;
    flex: 1;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(25deg, transparent, #28292d,#28292d), 
    linear-gradient(-25deg, transparent, #28292d,#28292d);
    opacity: 0.5;
  }


.banner p{
  padding: 10%;
}

.nav-bars{
color: var(--white);
  width: 100%;
  z-index: 5;
  display: flex;
  box-shadow: 0px 10px 20px rgba(1,0,0,0.1), 0 6px 6px rgba(0,0,0,0.23);
  background: linear-gradient(25deg, transparent, #28292d,#28292d), 
  linear-gradient(-25deg, transparent, #28292d,#28292d);; 
}

.nav-bars ul{
  
  width: auto;
  display: inline-block;
  list-style: none;
  width: 100%;
  margin: 1%;
  text-align: center;

  
}

.nav-bars ul li{
  display: flex;
  display: inline-block;
  text-decoration: none; 
  width: calc(95%/4);
  padding: 2px;
  
}
  .nav-bars ul li a {
    margin: auto auto;
    color: var(--white);
    text-align: center;
    text-decoration: none;
    position: relative;
    
  }
  
  /* Change the link color to #111 (black) on hover */
  .nav-bars ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: -6px;
    font-size: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: all 0.3s;
  }
  .nav-bars ul li a:hover::after {
    width: 50%;
    
  }


  
  .light-theme {
    color: #000000;
    background: #FFFFFF;
  }


  .btn {
    height: 45px;
    width: 56px;
    font-size: x-large;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
   
  }
  .light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
  }
  
  .dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
  }
  .West_Tech_division{
    padding-left: 35%;
  }
  
  .West_Tech_division button {
    font-size: medium;
    align-items: center;
    background-color: #7a3b9c;
    text-align: center;
    width: 180px;
    height: 80px;
    border-radius: 35%;
    background-color: transparent;
    opacity: 0.7;
    box-shadow: 5px 10px 0 0 blue;
    background:  linear-gradient(35deg, #CCFFFF, #FFCCCC);
  }
  .West_Tech_division button:hover{
    background-color: #333;
  }

  
#content{
  width: 100%;
  
  
}

#footer {
 
  padding: 10px;
  border-top: 1px solid #f1f1f1;
}

.footer-center {
  align-items: center;
  text-align: center;
  margin-left:90px;
  margin-right: 90px;
  margin-top: 30px;
  
}

.copyright {

  font-size: 80%;
  text-align: right;
  padding-top: 1px;
  color: grey;
  float: right;

}